@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<OnlineShop.Models.Db.Tables.Category>
<div id="category-mmenu">
    @foreach (var category in Model)
    {
        <div class="item" style="float:left;margin-left:20px">
            @Html.ActionLink(category.Cat_Name,"Browse", new { id = category.Cat_Id })
        </div>
    }
</div>