@{
}
@*todo Дати нормальні імена для категорій і налаштувати вигляд коли категорія пуста*@
<script src="~/Scripts/jquery.smartmenus.js" type="text/javascript"></script>
<link href='~/Content/sm-core-css.css' rel='stylesheet' type='text/css' />
<link href='~/Content/sm-clean.css' rel='stylesheet' type='text/css' />

@model IEnumerable<OnlineShop.Models.Db.Tables.Category>
   <ul id="main-menu" class="sm sm-vertical sm-clean">
    @foreach (var categoryL1 in Model.Where(c => c.Cat_Level == 1))
    {
        <li class="current-menu-item">
            @Html.ActionLink(categoryL1.Cat_Name, "Browse", new { id = categoryL1.Cat_Id })
            @if (categoryL1.Cat_HasChild)
            {
                <ul>
                    @foreach (var categoryL2 in Model.Where(c => c.Cat_Parent_Cat_Id == categoryL1.Cat_Id))
                    {
                        <li>
                            @Html.ActionLink(categoryL2.Cat_Name, "Browse", new { id = categoryL2.Cat_Id })
                            @if (categoryL2.Cat_HasChild)
                            {
                                <ul>
                                    @foreach (var categoryL3 in Model.Where(c => c.Cat_Parent_Cat_Id == categoryL2.Cat_Id))
                                    {
                                        <li>
                                            @Html.ActionLink(categoryL3.Cat_Name, "Browse", new { id = categoryL3.Cat_Id })
                                        </li>
                                    }
                                </ul>
                            }
                        </li>
                    }
                </ul>
            }
        </li>
    }
</ul>