      @model Dictionary<string,long>
<ol class="breadcrumb">
    @if (Model != null)
    {        
        while (Model.Count > 0)
        {
            var item = Model.Last();
            <li>
                @Html.ActionLink(item.Key,
                      "EditCategories",
                      "Category",
                      new RouteValueDictionary(
                          new
                          {
                              parentId = item.Value
                          }), null)
            </li>
            Model.Remove(item.Key);
        }
    }
    </ol>
