      @model Dictionary<string,long>
<ul class="nav navbar-nav">
    @if (Model != null)
    {
        <li>
        @Html.ActionLink(Model.Last().Key,
                      "EditCategories",
                      "Category",
                      new RouteValueDictionary(
                          new
                          {
                              parentId = Model.Last().Value
                          }),null)
        </li>
        Model.Remove(Model.Last().Key);
        while (Model.Count > 0)
        {
            var item = Model.Last();
            <li><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></li>
            <li>
                    @Html.ActionLink(item.Key,
                      "EditCategories",
                      "Category",
                      new RouteValueDictionary(
                          new
                          {
                              parentId = item.Value
                          }),null)
            </li>
            Model.Remove(item.Key);
        }    
    }
</ul>