@model OnlineShop.Models.ApplicationUser

@{
    ViewBag.Title = "Видалити";
}

<h2>Видалити користувача</h2>

<h3>ВИ впевнені що хочете видалити цього користувача?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" class="btn btn-default" /> |
            @Html.ActionLink("Назад до списку", "Index")
        </div>
    }
</div>