
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Edit Categories", "EditCategories", "ManageShop")</li>
    <li>@Html.ActionLink("Edit Products", "EditProducts", "ManageShop")</li>
</ul>



