
@{
    ViewBag.Title = "Налаштування магазина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Налаштування магазина</h2>
<ul class="nav navbar-nav">
    <li>@Html.ActionLink("Редагування категорій", "EditCategories", "ManageShop")</li>
    <li>@Html.ActionLink("Редагування продуктів", "EditProducts", "ManageShop")</li>
</ul>



